@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #29291F;
  --foreground: #F5F5DC;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
